{% extends 'tether/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal for login required -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Login Required</h4>
				</div>
				<div class="modal-body">
					<p>Sorry this page requires you to login</a> first</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
				</div>
			</div>

		</div>
     </div>

</body>
</html>





{% comment %}




</body>
</html>
{% endcomment %}